 /* Sign in page css */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(243, 243, 243);
}

 .container {
    width: 350px;
    text-align: center;
}

 .logo {
    width: 100px;
    /* margin-bottom: 20px; */
}

.sign-in-box {
    border: 1px solid rgb(221, 221, 221); 
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

 .sign-in-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

 label {
    display: block;
    text-align: left;
    /* font-size: 14px; */
    /* margin-top: 10px; */
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 3px;
}

.sign-in-btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(240, 193, 75);
    border: 1px solid rgb(168, 135, 52);
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

 .sign-in-btn:hover {
    background-color: rgb(226, 179, 59);
}

.privacy-note {
    font-size: 12px;
    color: rgb(102, 102, 102);
    margin-top: 15px;
}

.privacy-note a {
    color: rgb(0, 102, 192);
    text-decoration: none;
}

.privacy-note a:hover {
    text-decoration: underline;
}

.help-links {
    text-align: left;
    margin-top: 10px;
}

.help-links a {
    font-size: 12px;
    color: rgb(0, 102, 192);
    text-decoration: none;
}

.help-links a:hover {
    text-decoration: underline;
}

.divider {
    display: flex;
    align-items: center;
    margin: 20px;
}

.divider h5 {
     flex: 1; 
    font-size: 12px;
    color: rgb(102, 102, 102);
}

.create-account-btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(231, 233, 236);
    border: 1px solid rgb(173, 177, 184);
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

.create-account-btn:hover {
    background-color: #dadcdf;
} 
                            /* Signup page css */
.sign-up-box {
    border: 1px solid rgb(221, 221, 221); 
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

.sign-up-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

input[type="text"], [type="email"], [type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 3px;
}

.sign-up-btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(240, 193, 75);
    border: 1px solid rgb(168, 135, 52);
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}

.sign-up-btn:hover {
    background-color: rgb(226, 179, 59);
}

.password-note {
    font-size: 12px;
    color: rgb(102, 102, 102);
    margin-bottom: 15px;
}

.sign-in-return-btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(231, 233, 236);
    border: 1px solid rgb(173, 177, 184);
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

.sign-in-return-btn:hover {
    background-color: #dadcdf;
}

.create{
    text-decoration: none;
    color: black;
}

.create-account-btn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: rgb(231, 233, 236);
    border: 1px solid rgb(173, 177, 184);
    border-radius: 3px;
    font-size: 14px;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.create-account-btn:hover {
    background-color: #dadcdf;
}

.sign-in-return-btn{
    text-decoration: none;
    color: black;
}